<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
</head>
<body>

<div th:replace="fragments :: header-nav-login-sup"></div>

<div class="main-contents">

    <div>
        <h3 th:text="${'Welcome ' + employeeName + '!'}">Welcome (Employee Name here)!</h3>
        <p th:text="${'Today is ' + today}">Today's Date</p>
    </div>

    <div class="body">

        <div class="employee-dash">
            <p>employee</p>
            <div th:if="${timesheetsForApproval}">
                <p>There are <a th:href="@{/supervisor/manageemployees/timesheets}" th:text="${timesheetsForApproval+' timesheets'}"></a> awaiting approval.</p>
            </div>
        </div>

        <div class="right-col">
            <div class="project-dash">
                <p>project</p>
                        <ol th:each="project : ${projects}">
                            <li><a th:text="${project.projectName}" th:href="@{/supervisor/manageprojects/projectdetails(projectId=${project.projectId})}"></a></li>
                        </ol>
            </div>
            <div class="shipment-dash">
                <p>shipment</p>
            </div>
        </div>

    </div>







<!--    <h1>Upcoming</h1>-->
<!--    <ol>-->
<!--        <li><a href="/supervisor/manageprojects">Add a Project</a></li>-->
<!--        <li><a href="/supervisor/manageemployeeprofiles">Manage Employees</a></li>-->
<!--        <li><a>Manage Incoming Shipments</a></li>-->
<!--        <li><a>Current Bids/RFPs</a></li>-->
<!--    </ol>-->


<!--    <h1>Current</h1>-->
<!--    <ol>-->
<!--        <li><a>Approve Timesheets</a></li>-->
<!--        <li><a>Manage Incoming Shipments</a></li>-->
<!--        <li><a>Current Bids/RFPs</a></li>-->
<!--    </ol>-->
<!--    <ol th:each="project : ${projects}">-->
<!--        <li><a th:text="${project.projectName}" th:href="@{/supervisor/manageprojects/projectdetails(projectId=${project.projectId})}"></a></li>-->
<!--    </ol>-->

<!--    <h1>Outgoing</h1>-->
<!--    <ol>-->
<!--        <li><a href="/supervisor/manageprojects">Retire a Project</a></li>-->
<!--        <li><a>View Metrics</a></li>-->
<!--        <li><a>Review a Retired Project</a></li>-->
<!--    </ol>-->

</div>


</body>
</html>