<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
</head>
<body>

    <h1>Upcoming</h1>
        <ol>
            <li><a href="/supervisor/manageprojects">Add a Project</a></li>
            <li><a href="/supervisor/manageemployeeprofiles">Manage Employees</a></li>
            <li><a>Manage Incoming Shipments</a></li>
            <li><a>Current Bids/RFPs</a></li>
        </ol>


    <h1>Current</h1>
        <ol>
            <li><a>Approve Timesheets</a></li>
            <li><a>Manage Incoming Shipments</a></li>
            <li><a>Current Bids/RFPs</a></li>
        </ol>
        <ol>
            <li><a>Default Project 1</a></li>
            <li><a>Default Project 2</a></li>
            <li><a>Default Project 3</a></li>
        </ol>

    <h1>Outgoing</h1>
        <ol>
            <li><a>Retire a Project</a></li>
            <li><a>View Metrics</a></li>
            <li><a>Review a Retired Project</a></li>
        </ol>

</body>
</html>