<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
</head>
<body>

<div th:replace="fragments :: header-nav-login-sup"></div>

<div class="main-contents">
    <h1>Manage Contacts</h1>

    <div class="body">

        <div class="employee-dash">
            <table class="table-style1">
                <thead>
<!--                <th>Contact Type</th>-->
                <th>Last Name</th>
                <th>Company Name</th>
                </thead>

                <tr th:each="contact : ${contacts}">
<!--                    <td th:text="${contact.getContactType().getDisplayName()}"></td>-->
<!--                    <td th:text="${contact.lastName}"></td>-->
<!--                    <td th:text="${contact.companyName}"></td>-->
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div class="right-col">
            <h5>Add a Contact</h5>
            <form method="post" th:action="@{/supervisor/managecontacts/addcontact}">
                <div class="form-style1">
                    <label>Type: <span class="req-asterisk">*</span>
                        <select th:field="${contact.contactType}" name="contactType" id="contactType">
                            <option value=""></option>
                            <option th:each="contactType : ${contactTypes}" th:value="${contactType}" th:text="${contactType}"></option>
                        </select>
                    </label>
                    <p class="error" th:errors="${contact.contactType}"></p>
                </div>

<!--                Company Name - REQUIRED  -->
                <div class="form-style1">
                    <label>Company Name: <span class="req-asterisk">*</span>
                        <input name="companyName" th:field="${contact.companyName}">
                    </label>
                    <p class="error" th:errors="${contact.companyName}"></p>
                </div>

<!--&lt;!&ndash;                First Name   &ndash;&gt;-->
<!--                <div class="form-style1">-->
<!--                    <label>First Name</label>:-->
<!--                    <input th:field="${contact.firstName}">-->
<!--                    </label>-->
<!--                    <p class="error" th:errors="${contact.firstName}"></p>-->
<!--                </div>-->

<!--&lt;!&ndash;                Last Name   &ndash;&gt;-->
<!--                <div class="form-style1">-->
<!--                    <label>Last Name</label>:-->
<!--                    <input th:field="${contact.lastName}">-->
<!--                    </label>-->
<!--                    <p class="error" th:errors="${contact.lastName}"></p>-->
<!--                </div>-->

<!--&lt;!&ndash;                Address line one   &ndash;&gt;-->
<!--                <div class="form-style1">-->
<!--                    <label>Address</label>:-->
<!--                    <input th:field="${contact.addressLineOne}">-->
<!--                    </label>-->
<!--                    <p class="error" th:errors="${contact.addressLineOne}"></p>-->
<!--                </div>-->

<!--&lt;!&ndash;                City   &ndash;&gt;-->
<!--                <div class="form-style1">-->
<!--                    <label>City</label>:-->
<!--                    <input th:field="${contact.city}">-->
<!--                    </label>-->
<!--                    <p class="error" th:errors="${contact.city}"></p>-->
<!--                </div>-->

<!--&lt;!&ndash;                State   &ndash;&gt;-->
<!--                <div class="form-style1">-->
<!--                    <label>State</label>-->
<!--                    <input type="text" name="stateInput" oninput="runStateAutoFill()" id="stateInput" list="statesList">-->
<!--                    <datalist id="statesList">-->
<!--                        <option th:each="state : ${states}" th:value="${state.key}" th:text="${state.value}"></option>-->
<!--                    </datalist>-->
<!--&lt;!&ndash;                    <select th:field="${contact.state}">&ndash;&gt;-->
<!--&lt;!&ndash;                        <option th:each="state : ${states}" th:value="${state}" th:text="${state}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;                    </select>&ndash;&gt;-->
<!--&lt;!&ndash;                    <input type="text" oninput="runStateAutoFill()" th:field="${contact.state}">&ndash;&gt;-->
<!--                    </label>-->
<!--                    <p class="error" th:errors="${contact.state}"></p>-->
<!--                </div>-->

<!--&lt;!&ndash;                ZipCode   &ndash;&gt;-->
<!--                <div class="form-style1">-->
<!--                    <label>ZipCode</label>:-->
<!--                    <input th:field="${contact.zipcode}">-->
<!--                    </label>-->
<!--                    <p class="error" th:errors="${contact.zipcode}"></p>-->
<!--                </div>-->

<!--&lt;!&ndash;                Email   &ndash;&gt;-->
<!--                <div class="form-style1">-->
<!--                    <label>email</label>:-->
<!--                    <input name="contactEmail">-->
<!--                    </label>-->
<!--                    <input type="radio"  name="secondEmail" onclick="viewSecondEmailForm();" id="addEmail"><label>Add a Second Email</label>-->
<!--                </div>-->
<!--&lt;!&ndash;                This appears if Second Email is checked&ndash;&gt;-->
<!--                <div class="form-style1" id="secondEmail" style="display: none;">-->
<!--                    <label>email</label>:-->
<!--                    <input name="secondEmail">-->
<!--                    </label>-->
<!--                </div>-->

<!--                <div class="form-style1">-->
<!--                    <label for="phoneNumber">Phone Number</label>:-->
<!--                    <input type="tel" id="phoneNumber" name="contactPhoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">-->
<!--                    </label>-->
<!--                    <input type="radio" onclick="viewSecondPhoneNumberForm()" id="addPhoneNumber"><label>Add a Second Phone Number</label>-->
<!--                </div>-->

<!--&lt;!&ndash;                This appears if Second phone number is checked&ndash;&gt;-->
<!--                <div class="form-style1" id="secondPhoneNumber" style="display: none;">-->
<!--                    <label>phone number</label>:-->
<!--                    <input name="secondPhoneNumber">-->
<!--                    </label>-->
<!--                </div>-->

                <p class="req-asterisk">* required</p>

                <button class="btn-style" name="submit" onclick="runAddContactFormValidation()">Add Contact</button>
            </form>
            <br>
        </div>


    </div>


</div>


</body>
</html>