<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
</head>

<body>

<div th:replace="fragments :: header-nav-login-sup"></div>

<div class="main-contents">

    <div th:if="${successSubmit}" class="success-submit">
        <p th:text="${'You have successfully created an Employee Profile for '+ employeeFirstName+'. '+ employeeFirstName
    +'''s first time passcode is : '+ employeeFirstTimePassword}"></p>
        <p>Please give the employee their first time passcode and tell them to use it register a unique username and password.</p>
    </div>

    <h1>Manage Employees</h1>
        <ol>
            <li><a>View All</a></li>
            <li><a href="/supervisor/manageemployees/newemployee">Add an Employee</a></li>
            <li><a href="/supervisor/manageemployees/retireemployee">Retire an Employee</a></li>
            <li><a href="/supervisor/manageemployees/timesheets">Approve Timesheets</a></li>
<!--            <li><a href="#edit">Edit An Employee Profile</a></li>-->
        </ol>
    <hr>

    <div th:if="${timesheetsForApproval}">
        <span>
            There are <form method="post" th:action="@{/supervisor/manageemployees/timesheets/results}" style="display: inline;">
            <input type="hidden" name="searchType" value="approval">
            <button class="btn-style" th:text="${timesheetsForApproval+' timesheets'}"></button>
            </form> awaiting approval.
        </span>
    </div>

    <hr>

    <table class="table-style1">
        <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Title</th>
        <th>Current Timesheet</th>
        <th id="edit">Edit Profile</th>
        </thead>

        <tr th:each="employee : ${employees}">
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.title}"></td>
            <td th:text="${employee.currentTimesheetCompletionStatus}"></td>
            <td><a th:href="@{/supervisor/manageemployees/editEmployee(employeeId=${employee.employeeId})}">edit</a></td>
        </tr>
    </table>
    <br>
    <a href="/supervisor/manageemployees/newemployee">Add an Employee</a>
</div>

</body>
</html>