<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
</head>
<body>

<table>
    <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Title</th>
    <th>Current Timesheet</th>
    <th>Pay Rate</th>
    <th>Edit Profile</th>
    </thead>

    <tr th:each="employee : ${employees}">
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td th:text="${employee.title}"></td>
        <td th:text="${employee.currentTimesheetCompletionStatus}"></td>
        <td th:text="${employee.payRate}"></td>
        <td><a th:href="@{/supervisor/manageemployeeprofiles/editEmployee(employeeId=${employee.employeeId})}">link here</a></td>
    </tr>
</table>
</body>
</html>