<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
</head>
<body>

<div th:replace="fragments :: header-nav-login-sup"></div>

<div class="main-contents">
    <h1>Manage Contacts</h1>

    <div class="body">

        <div class="employee-dash">
            <table class="table-style1">
                <thead>
<!--                <th>Contact Type</th>-->
                <th>Last Name</th>
                <th>Company Name</th>
                </thead>

                <tr th:each="contact : ${contacts}">
<!--                    <td th:text="${contact.getContactType().getDisplayName()}"></td>-->
<!--                    <td th:text="${contact.lastName}"></td>-->
<!--                    <td th:text="${contact.companyName}"></td>-->
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div class="right-col">
            <h5>Add a Contact</h5>
            <form method="post" th:action="@{/supervisor/managecontacts/addcontact}">
                <div class="form-style1">
                    <label>Type: <span class="req-asterisk">*</span>
                        <select th:field="${newContactDTO.contactType}" name="contactType" id="contactType">
                            <option value=""></option>
                            <option th:each="contactType : ${contactTypes}" th:value="${contactType}" th:text="${contactType}"></option>
                        </select>
                    </label>
                    <p class="error" th:errors="${newContactDTO.contactType}"></p>
                </div>

<!--                Company Name - REQUIRED  -->
                <div class="form-style1">
                    <label>Company Name: <span class="req-asterisk">*</span>
                        <input name="companyName" th:field="${newContactDTO.companyName}">
                    </label>
                    <p class="error" th:errors="${newContactDTO.companyName}"></p>
                </div>

<!--                First Name   -->
                <div class="form-style1">
                    <label>First Name</label>:
                    <input th:field="${newContactDTO.firstName}">
                    </label>
                    <p class="error" th:errors="${newContactDTO.firstName}"></p>
                </div>

<!--                Last Name   -->
                <div class="form-style1">
                    <label>Last Name</label>:
                    <input th:field="${newContactDTO.lastName}">
                    </label>
                    <p class="error" th:errors="${newContactDTO.lastName}"></p>
                </div>

<!--                Address line one   -->
                <div class="form-style1">
                    <label>Address</label>:
                    <input th:field="${newContactDTO.addressLineOne}">
                    </label>
                    <p class="error" th:errors="${newContactDTO.addressLineOne}"></p>
                </div>

<!--                City   -->
                <div class="form-style1">
                    <label>City</label>:
                    <input th:field="${newContactDTO.city}">
                    </label>
                    <p class="error" th:errors="${newContactDTO.city}"></p>
                </div>

<!--                State   -->
                <div class="form-style1">
                    <label>State</label>
                    <input type="text" name="stateInput" oninput="runStateAutoFill()" id="stateInput" list="statesList" th:field="${newContactDTO.state}">
                    <datalist id="statesList">
                        <option th:each="state : ${states}" th:value="${state.key}" th:text="${state.value}"></option>
                    </datalist>
<!--                    <select th:field="${contact.state}">-->
<!--                        <option th:each="state : ${states}" th:value="${state}" th:text="${state}"></option>-->
<!--                    </select>-->
<!--                    <input type="text" oninput="runStateAutoFill()" th:field="${contact.state}">-->
                    </label>
                    <p class="error" th:errors="${newContactDTO.state}"></p>
                </div>

<!--                ZipCode   -->
                <div class="form-style1">
                    <label>ZipCode</label>:
                    <input th:field="${newContactDTO.zipcode}">
                    </label>
                    <p class="error" th:errors="${newContactDTO.zipcode}"></p>
                </div>

<!--                Email   -->
                <div class="form-style1">
                    <label>email</label>:
                    <input name="contactEmail" th:field="${newContactDTO.email1}">
                    </label>
                    <p class="error" th:errors="${newContactDTO.email1}"></p>
                    <input type="radio"  name="secondEmail" onclick="viewSecondEmailForm();" id="addEmail"><label>Add a Second Email</label>
                </div>
<!--                This appears if Second Email is checked-->
                <div class="form-style1" id="secondEmail" style="display: none;">
                    <label>email</label>:
                    <input name="secondEmail" th:field="${newContactDTO.email2}">
                    </label>
                    <p class="error" th:errors="${newContactDTO.email2}"></p>
                </div>

                <div class="form-style1">
                    <label for="phoneNumber">Phone Number</label>:
                    <input id="phoneNumber" name="phoneNumber" th:field="${newContactDTO.phoneNumber1}">
<!--                    <input type="tel" id="phoneNumber" name="contactPhoneNumber" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">-->
                    </label>
                    <p class="error" th:errors="${newContactDTO.phoneNumber1}"></p>
                    <input type="radio" onclick="viewSecondPhoneNumberForm()" id="addPhoneNumber"><label>Add a Second Phone Number</label>
                </div>

<!--                <div class="form-style1">-->
<!--                    <label for="phoneNumber">Phone Number</label>:-->
<!--                    <input th:field="phoneNumbers" id="phoneNumber" name="contactPhoneNumber">-->
<!--                    </label>-->
<!--                    <input type="radio" onclick="viewSecondPhoneNumberForm()" id="addPhoneNumber"><label>Add a Second Phone Number</label>-->
<!--                </div>-->

<!--                This appears if Second phone number is checked-->
                <div class="form-style1" id="secondPhoneNumber" style="display: none;">
                    <label>phone number</label>:
                    <input name="secondPhoneNumber" th:field="${newContactDTO.phoneNumber2}">
                    </label>
                    <p class="error" th:errors="${newContactDTO.phoneNumber2}"></p>
                </div>

                <p class="req-asterisk">* required</p>

                <button class="btn-style" name="submit" onclick="runAddContactFormValidation()">Add Contact</button>
            </form>
            <br>
        </div>


    </div>


</div>


</body>
</html>