<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
</head>
<body>

<div th:replace="fragments :: header-nav-login-sup"></div>

<div class="main-contents">

    <p>Shipments Feature will go here</p>

    <ol id="event-data" th:each="event,iterStat : ${currentMonthEvents}" style="display: none;">
        <li th:id="${iterStat.count}">
            <p th:id="eventName + ${iterStat.count}" th:eventName="${event.getName()}"></p>
            <p th:id="startDate + ${iterStat.count}" th:eventStart="${event.getCalStartDate()}"></p>
            <p th:id="endDate + ${iterStat.count}" th:eventEnd="${event.getCalEndDate()}"></p>
        </li>
    </ol>

    <p id="eventTotal" th:value="eventTotal" th:text="${eventTotal}" style="display: none;"></p>


    <div id="calendar">
        <!-- Parent container for the calendar month -->
        <div class="calendar-month">
            <!-- The calendar header -->
            <section class="calendar-month-header">
                <!-- Month name -->
                <div
                        id="selected-month"
                        class="calendar-month-header-selected-month"
                >
                    Current Month
                </div>
                <!-- Pagination -->
                <div class="calendar-month-header-selectors">
                    <span id="previous-month-selector"> </span>
                    <span id="present-month-selector"></span>
                    <span id="next-month-selector"> </span>
                </div>
            </section>

            <table>
                <!-- Calendar grid header -->
                <thead id="days-of-week" class="day-of-week">
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
                </thead>
                <!-- Calendar grid -->
                <tbody id="calendar-body">

                </tbody>
            </table>
        </div>

    </div>

    <a href="/supervisor/manageshipments/addShipment">Create an Incoming Shipment</a>
    <br>
    <a href="/supervisor/manageshipments/addShipment">Create an Outgoing Shipment</a>

</div>


</body>
</html>