<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
  <meta charset="UTF-8">
  <title th:text="${title}">Default Title</title>
</head>
<body>

<div th:replace="fragments :: header-nav-login-sup"></div>

<div class="main-contents">








  <hr>

  <p th:text="${chosenXvalue}"></p>

  <hr>

  <h5>Deal with this shit later</h5>

  <!--    <div th:if="${chosenXvalue}">-->
  <button onclick="runCharts()">click to run charts</button>
  <button onclick="viewBarGraph()">click to view bar graph</button>
  <button onclick="viewScatterPlotGraph()">click to view scatter plot graph</button>

  <p id="chart" th:xyValues="${xyValues}"></p>

  <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
  <!--    </div>-->




</div>
</body>
</html>