<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
</head>
<body>

<div th:replace="fragments :: header-nav-login-sup"></div>

<div class="main-contents">

    <h1>Metrics</h1>

    <form method="post">
        <label>View Total Hours By:
            <select name="xValue">
                <option th:each="xValue : ${xValueChoices}" th:value="${xValue}" th:text="${xValue}"></option>
            </select>
        </label>

        <button class="btn-style" name="total">View Total Hours</button>

        <p>Or</p>


        <label>View Hours Breakdown In Category:
            <select name="chartCategory" onchange="viewSubOptions()">
                <option value="" disabled selected id="noSelection"></option>
                <option th:each="chartCategory : ${chartCategories}" th:value="${chartCategory}" th:text="${chartCategory}" th:id="${chartCategory}"></option>
            </select>
        </label>

        <div id="subOptionsEmployee" style="display: none;">
            <label>View Total Hours For:
                <select name="employee">
                    <option th:each="employee : ${employees}" th:value="${employee}" th:text="${employee}"></option>
                </select>
            </label>
            <label>Hours Broken down by:
                <select name="xChoice">
                    <option value="" disabled selected id="noSelection"></option>
                    <option th:each="xValue : ${xValueChoices}" th:value="${xValue}" th:text="${xValue}"></option>
                </select>
            </label>
        </div>

        <div id="subOptionsProject" style="display: none;">
            <label>View Total Hours For:
                <select name="project">
                    <option th:each="project : ${projects}" th:value="${project}" th:text="${project}"></option>
                </select>
            </label>
            <label>Hours Broken down by:
                <select name="xChoice">
                    <option value="" disabled selected id="noSelection"></option>
                    <option th:each="xValue : ${xValueChoices}" th:value="${xValue}" th:text="${xValue}"></option>
                </select>
            </label>
        </div>

        <div id="subOptionsWorkType" style="display: none;">
            <label>View Total Hours For:
                <select name="workType">
                    <option th:each="workType : ${workTypes}" th:value="${workType}" th:text="${workType}"></option>
                </select>
            </label>
            <label>Hours Broken down by:
                <select name="xChoice">
                    <option value="" disabled selected id="noSelection"></option>
                    <option th:each="xValue : ${xValueChoices}" th:value="${xValue}" th:text="${xValue}"></option>
                </select>
            </label>
        </div>

        <div id="subOptionsPayRate" style="display: none;">
            <label>View Total Hours For:
                <select name="payRate">
                    <option th:each="payRate : ${payRates}" th:value="${payRate}" th:text="${payRate}"></option>
                </select>
            </label>
            <label>Hours Broken down by:
                <select name="xChoice">
                    <option value="" disabled selected id="noSelection"></option>
                    <option th:each="xValue : ${xValueChoices}" th:value="${xValue}" th:text="${xValue}"></option>
                </select>
            </label>
        </div>

        <button class="btn-style" name="category">View Hours in Category</button>
    </form>



</div>
</body>
</html>