<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
  <meta charset="UTF-8">
  <title th:text="${title}">Default Title</title>
</head>
<body>

<div th:replace="fragments :: header-nav-login-sup"></div>

<div class="main-contents">





  <h2 th:text="${chartTopic}"></h2>
  <h2 th:text="${chartTitle}"></h2>


  <hr>

  <p th:text="${chartCategory}"></p>
  <p th:text="${chartTopic}"></p>
  <p th:text="${xValue}"></p>


  <hr>




  <button onclick="viewBarGraph()" class="btn-style">click to view bar graph</button>
<!--  <button onclick="viewScatterPlotGraph()">click to view scatter plot graph</button>-->
  <button onclick="viewPieGraph()" class="btn-style">click to view pie chart</button>
  <button onclick="viewPolarAreaGraph()" class="btn-style">click to view polar area chart</button>

  <p id="chart" th:xyValues="${xyValues}"></p>
  <p id="chartTitle" th:chartTitle="${chartTitle}"></p>
  <p id="csvHeaders" th:csvHeaders="${csvHeaders}"></p>

  <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
  <!--    </div>-->
  <br>
  <button onclick="createCSVFromChartData()">Create CSV</button>




</div>
</body>
</html>