<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
</head>

<body>

<div th:replace="fragments :: header-nav-login-sup"></div>



<div class="main-contents">
    <h1>Add a New Employee</h1>
    <form method="post">
        <div class="form-style1">
            <label>First Name:
                <input th:field="${createEmployeeDTO.firstName}" class="form-control">
            </label>
            <p class="error" th:errors="${createEmployeeDTO.firstName}"></p>
        </div>

        <div class="form-style1">
            <label>Last Name:
                <input th:field="${createEmployeeDTO.lastName}" class="form-control">
            </label>
            <p class="error" th:errors="${createEmployeeDTO.lastName}"></p>
        </div>

        <div class="form-style1">
            <label>Title:
                <input th:field="${createEmployeeDTO.title}" class="form-control">
            </label>
            <p class="error" th:errors="${createEmployeeDTO.title}"></p>
        </div>

<!--        <div class="form-group">-->
<!--            <label>Supervisor Access?:-->
<!--                <input type="radio" th:value="${supervisorAccess}" th:field="${createEmployeeDTO.supervisorAccess}" class="form-control"/>-->
<!--            </label>-->
<!--            <p class="error" th:errors="${createEmployeeDTO.supervisorAccess}"></p>-->
<!--        </div>-->

        <div class="form-style1">
            <label>Pay Rate:
                <input th:field="${createEmployeeDTO.payRate}" class="form-control">
            </label>
            <p class="error" th:errors="${createEmployeeDTO.payRate}"></p>
        </div>

<!--        <div class="form-group">-->
<!--            <label>First Date of Work:-->
<!--                <input type="date" th:field="${createEmployeeDTO.firstDateOfWorkDateClass}" id="firstDateOfWorkDateClass" class="form-control">-->
<!--            </label>-->
<!--            <p class="error" th:errors="${createEmployeeDTO.firstDateOfWork}"></p>-->
<!--        </div>-->

        <div class="form-style1">
            <label>Paid Time Off:
                <input th:field="${createEmployeeDTO.paidTimeOff}" class="form-control">
            </label>
            <p class="error" th:errors="${createEmployeeDTO.paidTimeOff}"></p>

        </div>

        <input type="hidden" th:value="${oneTimePassword}" th:field="${createEmployeeDTO.oneTimePassword}">
        <p th:text="${oneTimePassword}"></p>

        <div class="form-style1">
            <input type="submit" value="Add" class="btn btn-success">
        </div>
    </form>
</div>


</body>
</html>