<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
</head>
<body>

<div th:replace="fragments :: header-nav-login-sup"></div>

<div class="main-contents">

    <form method="post" id="addShipmentForm">

        <div class="form-style1">
            <label>Name:
                <input th:field="${shipment.name}">
            </label>
            <p class="error" th:errors="${shipment.name}"></p>
        </div>

        <div class="form-style1">
            <label>Project:
            <select th:field="${shipment.project}">
                <option value="" disabled selected>Project</option>
                <option th:each="project : ${projects}" th:value="${project.projectId}" th:text="${project.toString()}"></option>
            </select>
        </label>
            <p class="error" th:errors="${shipment.project}"></p>
            <br>
            <a href="/supervisor/manageprojects/newproject" th:target="_blank" rel="noopener noreferrer">Add A New Project</a>
        </div>

        <div class="form-style1">
            <label>Type:
                <select name="type" onchange="viewSubOptionsForShipmentType()">
                    <option value="" disabled selected id="noSelection"></option>
                    <option th:each="shipmentType : ${shipmentTypes}" th:value="${shipmentType}" th:text="${shipmentType}" th:id="${shipmentType}"></option>
                </select>
            </label>
            <p class="error" th:errors="${shipment.type}"></p>
        </div>

        <div id="subOptionsIncoming" style="display: none;"  class="form-style1">
            <label>Expected Arrival Date:
                <input type="date" class="form-control" name="incomingDateParam" value="${incomingDateParam}">
            </label>
            <label>Carrier:
                <select name="carrier" onchange="addANewContactForCarrier()">
                    <option value="" disabled selected id="noSelection"></option>
                    <option th:each="carrier : ${carriers}"
                            th:value="${carrier}"
                            th:text="${carrier}"
                            th:id="${carrier}"></option>
                </select>
                <br>
                <a href="/supervisor/managecontacts" th:target="_blank" rel="noopener noreferrer">Add A New Carrier Contact</a>
            </label>
        </div>


        <div class="form-style1" id="subOptionsOutgoing" style="display: none;">
            <label>Schedule Outgoing Date:
                <input type="date" class="form-control" name="outgoingDateScheduledParam" value="${outgoingDateScheduledParam}">
            </label>
        </div>


        <div class="form-style1">
            <button>Add</button>
        </div>

    </form>
</div>

</body>
</html>