<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
</head>
<body>

<div th:replace="fragments :: header-nav-login-sup"></div>

<div class="main-contents">
    <p>new shipment form here</p>
    <form method="post">

        <div class="form-style1">
            <label>Name:
                <input th:field="${shipment.name}">
            </label>
            <p class="error" th:errors="${shipment.name}"></p>
        </div>

        <div class="form-style1">
            <label>Project:
            <select name="project">
                <option th:each="project : ${projects}" th:value="${project}" th:text="${project}"></option>
            </select>
        </label>
            <a href="/supervisor/manageprojects/newproject">Add A New Project</a>
        </div>

        <div class="form-style1">
            <label>Type:
                <select name="type" onchange="viewSubOptionsForShipmentType()">
                    <option value="" disabled selected id="noSelection"></option>
                    <option th:each="shipmentType : ${shipmentTypes}" th:value="${shipmentType}" th:text="${shipmentType}" th:id="${shipmentType}"></option>
                </select>
            </label>
        </div>

        <div id="subOptionsIncoming" style="display: none;">
            <label>View Total Hours For:
<!--                <select name="employee">-->
<!--                    <option th:each="employee : ${employees}" th:value="${employee}" th:text="${employee}"></option>-->
<!--                </select>-->
            </label>
            <label>Hours Broken down by:
<!--                <select name="xChoice">-->
<!--                    <option value="" disabled selected id="noSelection"></option>-->
<!--                    <option th:each="xValue : ${xValueChoices}" th:value="${xValue}" th:text="${xValue}"></option>-->
<!--                </select>-->
            </label>
        </div>

        <div id="subOptionsOutgoing" style="display: none;">
            <label>View Total Hours For:
                <select name="employee">
                    <option th:each="employee : ${employees}" th:value="${employee}" th:text="${employee}"></option>
                </select>
            </label>
            <label>Hours Broken down by:
                <select name="xChoice">
                    <option value="" disabled selected id="noSelection"></option>
                    <option th:each="xValue : ${xValueChoices}" th:value="${xValue}" th:text="${xValue}"></option>
                </select>
            </label>
        </div>

        <div class="form-style1">
            <input type="submit" value="Add" class="btn btn-success">
        </div>
    </form>
</div>

</body>
</html>