<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
</head>
<body>

<div th:replace="fragments :: header-nav-login-sup"></div>

<div class="main-contents">

    <h1>Employee Timesheets</h1>
    <form th:action="@{/supervisor/manageemployees/timesheets/results}" method = "post">

        <ol>
            <li><input type="radio" th:id="${all}" name="searchType" th:value="${all}" th:checked="${all == previousChoice}"><label th:for="${all}">View All</label></li>
            <li><input type="radio" th:id="${approval}" name="searchType" th:value="${approval}" th:checked="${approval == previousChoice}"><label th:for="${approval}">View Timesheets Awaiting Approval</label></li>
            <li><input type="radio" th:id="lastName" name="searchType" th:value="lastName"><label th:for="lastName">View Timesheets by Employee's Last Name: </label><input type="text" name="lastName"></li>
<!--            <li><input type="radio" th:id="date" name="searchType" th:value="date"><label th:for="date">Search Timesheets by Date</label><input type="text" name="date"></li>-->
        </ol>

        <button class="btn-style">VIEW</button>

    </form>
    <hr>

    <div th:if="${successSubmit}" class="success-submit">
        <p th:text="${successSubmit + timesheetEmployee + '''s Timesheet for the week of ' + timesheetWeek}"></p>
    </div>

    <div th:if="${error}" class="error-msg">
        <p th:text="${error}"></p>
    </div>

    <hr>

    <div th:fragment="timesheet-table">
        <table class="table-style1">
            <thead>
            <th>Employee</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Approval Status</th>
            <th>Total Hours</th>
            <th>View Details</th>
            </thead>
            <tr th:each="timesheet : ${timesheets}">
                <td class="style1-left-col" th:text="${timesheet.employee.getFirstName() + ' ' + timesheet.employee.getLastName()}"></td>
                <td th:text="${#calendars.format(timesheet.startDate, 'dd/MMM/yyyy')}"></td>
                <td th:text="${#calendars.format(timesheet.dueDate, 'dd/MMM/yyyy')}"></td>
                <td>
                    <div th:if="${timesheet.supervisorApproval}"><p>approved</p></div>
                    <div th:unless="${timesheet.supervisorApproval}"><p>awaiting approval</p></div>
                </td>
                <td th:text="${timesheet.totalHours}"></td>
                <td><a th:href="@{/supervisor/manageemployees/timesheets/detail(timesheetId=${timesheet.Id})}">details</a></td>
            </tr>
        </table>
    </div>



</div>

</body>
</html>