<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title th:text="${title}">Default Title</title>
</head>
<body>

<div th:replace="fragments :: header-nav-login-sup"></div>

<div class="main-contents">

    <h1>Employee Timesheets</h1>
    <form th:action="@{/supervisor/manageemployees/timesheets/results}" method = "post">

        <ol>
            <li><input type="radio" th:id="${all}" name="searchType" th:value="${all}"><label th:for="${all}">View All</label></li>
            <li><input type="radio" th:id="${approval}" name="searchType" th:value="${approval}"><label th:for="${approval}">View Timesheets Awaiting Approval</label></li>
<!--            <li><input type="radio" th:id="lastName" name="searchType" th:value="lastName"><label th:for="lastName">Search Timesheets by Employee's Last Name: </label><input type="text" name="lastName"></li>-->
<!--            <li><input type="radio" th:id="date" name="searchType" th:value="date"><label th:for="date">Search Timesheets by Date</label><input type="text" name="date"></li>-->
        </ol>

        <input type="submit" value="VIEW">

    </form>


    <hr>

    <table>
        <thead>
            <th>Employee</th>
            <th>Start Date</th>
            <th>Due Date</th>
            <th>Approval Status</th>
            <th>Total Hours</th>
            <th>View Details Link</th>
        </thead>
        <tr th:each="timesheet : ${timesheets}">
            <td th:text="${timesheet.employee.getFirstName() + ' ' + timesheet.employee.getLastName()}"></td>
            <td th:text="${#calendars.format(timesheet.startDate, 'dd/MMM/yyyy')}"></td>
            <td th:text="${#calendars.format(timesheet.dueDate, 'dd/MMM/yyyy')}"></td>
            <td th:text="${timesheet.supervisorApproval}"></td>
            <td th:text="${timesheet.totalHours}"></td>
<!--            <td th:text="${timesheet.Id}"></td>-->
            <td><a th:href="@{/supervisor/manageemployees/timesheets/detail(timesheetId=${timesheet.Id})}">link here</a></td>
        </tr>
    </table>


</div>

</body>
</html>