.shipments-color-code {

}
#green {
    background-color: green;
    width: 8px;
    height: 8px;
    padding: 10px;
}

#orange {
    background-color: orange;
    width: 8px;
    height: 8px;
    padding: 10px;
}

.outgoing-green {
    display: flex;
}

.incoming-orange {
    display: flex;
}

.outgoing-green p {
    color: green;
    font-weight: bold;
    margin: 0;
    padding-left: 1px;
}

.incoming-orange p {
    color: orange;
    font-weight: bold;
    margin: 0;
    padding-left: 1px;
}