<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<p>create line entry</p>
<div th:replace="fragments :: header-nav-login"></div>

<div>
    <ul>
        <li th:text="${today}">Tuesday, 02|05|2022</li>
<!--        <li th:text="${'Timesheet Week of ' + startDate}">Timesheet Week of 2/4/2022</li>-->
<!--        <li th:text="${'Due: '+ dueDate}">Due: 2/11/2022 5pm</li>-->
<!--        <li th:text="${'PayDay: '+payDay}">PayDay: 2/15/2022</li>-->
    </ul>
</div>

<table>
    <form method="post">
        <tr>
            <th></th>
            <th></th>
            <th><select name="daysOfWeek"><option th:each="day : ${daysOfWeek}" th:value="${day}" th:text="${day}">default day of the week</option></select></th>
            <th></th>
        </tr>
        <tr>
<!--            <td><select name="project"><option value="" disabled selected>Project</option><option th:each="project : ${projects}" th:value="${project}" th:text="${project.toString()}">default project</option></select></td>-->
<!--            <td><select name="workType"><option value="" disabled selected>Work</option><option th:each="workType : ${workTypes}" th:value="${workType}" th:text="${workType.toString()}">default work type</option></select></td>-->
            <td><select name="project" th:field="${lineEntry.project}"><option value="" disabled selected>Project</option><option th:each="project : ${projects}" th:value="${project}" th:text="${project.toString()}">default project</option></select></td>
<!--            <td><select th:field="${lineEntry.project}"><option th:each="project : ${projects}" th:value="${project}" th:text="${project.toString()}">default project</option></select></td>-->
            <td><select th:field="${lineEntry.workType}"><option th:each="workType : ${workTypes}" th:value="${workType}" th:text="${workType.toString()}">default work type</option></select></td>
<!--            <td><select name="workType" th:field="${lineEntry.workType}"><option value="" disabled selected>Work</option><option th:each="workType : ${workTypes}" th:value="${workType}" th:text="${workType.toString()}">default work type</option></select></td>-->
            <td><input type="number" max="24" placeholder="hours" name="hours"></td>
            <input type="hidden" name="employeeId" th:value="${employeeId}">
              <td><input type="submit" value="save" onclick="runFormValidation()"></td>
        </tr>
        <tr>
            <td th:errors="${lineEntry.project}"></td>
            <td th:errors="${lineEntry.workType}"></td>
        </tr>
    </form>

</table>


</body>
</html>