<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="">
<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: header-nav-login"></div>
<div class="main-contents">
    <h1>Edit Line Entry</h1>

    <form method="post">
        <table class="edit-timesheet-table">

            <thead>
            <tr>
                <th></th>
                <th>M</th>
                <th>T</th>
                <th>W</th>
                <th>T</th>
                <th>F</th>
                <th>S</th>
            </tr>
            </thead>

            <tr>
                <th th:text="${lineEntry.getProject().toString()+
                        ' - '+lineEntry.getWorkType().toStringWorkTypeCode()}">default Project - workType</th>

                <!--            MONDAY COLUMN-->
                <td>
                    <div th:if='${lineEntry.getMondayHours() > 0}'>
                        <p th:text="${lineEntry.getMondayHours()}"></p>
                    </div>
                    <div th:unless='${lineEntry.getMondayHours() > 0}'>
                        <p></p>
                    </div>

                </td>
                <!--            TUESDAY COLUMN-->
                <td>
                    <div th:if='${lineEntry.getTuesdayHours() > 0}'>
                        <p th:text="${lineEntry.getTuesdayHours()}"></p>
                    </div>
                    <div th:unless='${lineEntry.getTuesdayHours() > 0}'>
                        <p></p>
                    </div>
                </td>
                <!--            WEDNESDAY COLUMN-->
                <td>
                    <div th:if='${lineEntry.getWednesdayHours() > 0}'>
                        <p th:text="${lineEntry.getWednesdayHours()}"></p>
                    </div>
                    <div th:unless='${lineEntry.getWednesdayHours() > 0}'>
                        <p></p>
                    </div>
                </td>

                <!--            THURSDAY COLUMN-->
                <td>
                    <div th:if='${lineEntry.getThursdayHours() > 0}'>
                        <p th:text="${lineEntry.getThursdayHours()}"></p>
                    </div>
                    <div th:unless='${lineEntry.getThursdayHours() > 0}'>
                        <p></p>
                    </div>
                </td>

                <!--            FRIDAY COLUMN-->
                <td>
                    <div th:if='${lineEntry.getFridayHours() > 0}'>
                        <p th:text="${lineEntry.getFridayHours()}"></p>
                    </div>
                    <div th:unless='${lineEntry.getFridayHours() > 0}'>
                        <p></p>
                    </div>
                </td>
                <!--            SATURDAY COLUMN-->
                <td>
                    <div th:if='${lineEntry.getSaturdayHours() > 0}'>
                        <p th:text="${lineEntry.getSaturdayHours()}"></p>
                    </div>
                    <div th:unless='${lineEntry.getSaturdayHours() > 0}'>
                        <p></p>
                    </div>
                </td>

            </tr>
            <tr>
                <td></td>
                <td><input type="number" min="0" max="24" th:placeholder="${lineEntry.getMondayHours()}"  th:field="${lineEntry.mondayHours}"></td>
                <td><input type="number" min="0" max="24" th:placeholder="${lineEntry.getTuesdayHours()}" th:field="${lineEntry.tuesdayHours}"></td>
                <td><input type="number" min="0" max="24" th:placeholder="${lineEntry.getWednesdayHours()}" th:field="${lineEntry.wednesdayHours}"></td>
                <td><input type="number" min="0" max="24" th:placeholder="${lineEntry.getThursdayHours()}" th:field="${lineEntry.thursdayHours}"></td>
                <td><input type="number" min="0" max="24" th:placeholder="${lineEntry.getFridayHours()}" th:field="${lineEntry.fridayHours}"></td>
                <td><input type="number" min="0" max="24" th:placeholder="${lineEntry.getSaturdayHours()}" th:field="${lineEntry.saturdayHours}"></td>

            </tr>

        </table>

        <input type="hidden" name="lineEntryId" th:value="${lineEntry.getId()}">
        <input type="hidden" name="currentTimesheetId" th:value="${currentTimesheetId}">
        <div>
            <button type="submit" name="delete" class="btn-style">Delete Entry</button>
            <button type="submit" name="save" class="btn-style">Save Changes</button>
        </div>

    </form>


</div>


</body>
</html>