<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header-nav-login"></div>

<div class="main-contents">

    <a href="/employee"><h2 th:text="${'Welcome ' + employeeName + '!'}">Welcome (Employee Name here)!</h2></a>
    <br>
    <hr>
    <div th:if="${successSubmit}" class="success-submit">
        <p th:text="${successSubmit}"></p>
        <p th:text="${#calendars.format(startDate, 'dd/MMM/yyyy')}"></p>
    </div>
    <hr>
    <p th:text="${thisWeekTimesheetSubmissionMessage}"></p>
    <div th:unless="${thisWeekTimesheetSubmissionMessage}">
        <div th:unless="${successSubmit}">
            <div th:if="${completionStatus}">
                <form method="post">
                    <input type="hidden" name="employeeId" th:value="${employeeId}">
                    <input type="hidden" name="todaysDate" th:value="${todaysDate}">
                    <div>
                        <button  type="submit" name="submit" class="btn-style">Create A New Timesheet</button>
                    </div>
                </form>
            </div>
            <div th:unless="${completionStatus}">
                <button class="btn-style"><a href="/employee/timesheet">Edit Current Timesheet</a></button>
            </div>
        </div>

    </div>

    <hr>
    <p th:text="${thisWeekTimesheet}"></p>
    <p th:text="${lastWeekTimesheet}"></p>

</div>

</body>
</html>