<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header-nav-login"></div>

<div class="main-contents">

    <p th:text="${'Welcome ' + employeeName + '!'}">Welcome (Employee Name here)!</p>
    <br>

    <div th:if="${successSubmit}">
        <p th:text="${successSubmit}"></p>
        <p th:text="${#calendars.format(startDate, 'dd/MMM/yyyy')}"></p>
    </div>

    <div th:unless="${successSubmit}">
        <div th:if="${completionStatus}">
            <form method="post">
                <input type="hidden" name="employeeId" th:value="${employeeId}">
                <input type="hidden" name="todaysDate" th:value="${todaysDate}">
                <div class="btn-style">
                    <button  type="submit" name="submit">Create A New Timesheet</button>
                </div>
            </form>
        </div>
        <div class="btn-style" th:unless="${completionStatus}">
            <button><a href="/employee/timesheet">Edit Current Timesheet</a></button>
        </div>
    </div>

    <p th:text="${}"></p>

</div>

</body>
</html>