<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments :: header-nav-login"></div>
<p th:text="${'Welcome ' + employeeName + '!'}">Welcome (Employee Name here)!</p>
<br>

<!--TODO nest in a th:unless or th:if, so only appears if the employee object's currentTimesheetCompletionStatus field is TRUE-->
    <form method="post">
        <input type="hidden" name="employeeId" th:value="${employeeId}">
        <input type="hidden" name="todaysDate" th:value="${todaysDate}">
        <button type="submit" name="submit">Create A New Timesheet</button>
    </form>

<!--TODO nest in a th:unless or th:if, so only appears if the employee object's currentTimesheetCompletionStatus field is FALSE-->
    <form method="post" action="editTimesheet">
        <input type="hidden" name="employeeId" th:value="${employeeId}">
        <input type="hidden" name="todaysDate" th:value="${todaysDate}">
        <button type="submit" name="submit">Edit Current Timesheet</button>
    </form>

</body>
</html>