<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="">
<head th:replace="fragments :: head"></head>

<body>


<div th:replace="fragments :: header-nav-login"></div>

<div class="main-contents">

    <div class="dates">
        <ul>
            <li th:text="${today}">Tuesday, 02|05|2022</li>
            <br>
            <li th:text="${'Timesheet for the Week of ' + startDate}">Timesheet Week of 2/4/2022</li>
            <li th:text="${'Due: '+ dueDate}">Due: 2/11/2022 5pm</li>
            <li th:text="${'PayDay: '+payDay}">PayDay: 2/15/2022</li>
        </ul>
    </div>

    <table>
        <form method="post" th:action="@{/employee/timesheet/createlineentry}">
            <tr>
                <th></th>
                <th></th>
                <th>
                    <select name="daysOfWeek">
                        <option th:each="day : ${daysOfWeek}" th:value="${day}" th:text="${day}">default day of the week</option>
                    </select>
                </th>
                <th></th>
            </tr>
            <tr>

                <td>
                    <select name="project">
                        <option value="" disabled selected>Project</option>
                        <option th:each="project : ${projects}" th:value="${project}" th:text="${project.toString()}">default project</option>
                    </select>
                </td>
                <td>
                    <select name="workType">
                        <option value="" disabled selected>Work Type</option>
                        <option th:each="workType : ${workTypes}" th:value="${workType}" th:text="${workType.toString()}">default work type</option>
                    </select>
                </td>
                <td><input type="number" min="0" max="24" placeholder="hours" name="hours"></td>
                <input type="hidden" name="employeeId" th:value="${employeeId}">
                <td><button class="btn-style">Add Hours</button></td>
            </tr>
        </form>

    </table>

    <br>
    <hr>
    <br>


    <table class="timesheet">
        <thead>
        <tr>
            <th class="total-header"></th>
            <th class="day-header">M</th>
            <th class="day-header">T</th>
            <th class="day-header">W</th>
            <th class="day-header">T</th>
            <th class="day-header">F</th>
            <th class="day-header">S</th>
            <th class="total-header">Total</th>
            <th class="total-header"></th>
        </tr>
        </thead>

        <th:block th:each="lineEntry : ${logOfEntries}">
            <tr>
                <th th:text="${lineEntry.getProjectWorkTypeCombo.getProject().toString()+
                    ' - '+lineEntry.getProjectWorkTypeCombo.getWorkType().toStringWorkTypeCode()}">default Project - workType</th>

                <!--            MONDAY COLUMN-->
                <td>
                         <div th:if='${lineEntry.getDaysOfWeekHoursCombo().getMondayHours() > 0}'>
                            <p th:text="${lineEntry.getDaysOfWeekHoursCombo().getMondayHours()}"></p>
                        </div>
                        <div th:unless='${lineEntry.getDaysOfWeekHoursCombo().getMondayHours() > 0}'>
                            <p></p>
                        </div>

                </td>
                <!--            TUESDAY COLUMN-->
                <td>
                        <div th:if='${lineEntry.getDaysOfWeekHoursCombo().getTuesdayHours() > 0}'>
                            <p th:text="${lineEntry.getDaysOfWeekHoursCombo().getTuesdayHours()}"></p>
                        </div>
                        <div th:unless='${lineEntry.getDaysOfWeekHoursCombo().getTuesdayHours() > 0}'>
                            <p></p>
                        </div>
                </td>
                <!--            WEDNESDAY COLUMN-->
                <td>
                    <div th:if='${lineEntry.getDaysOfWeekHoursCombo().getWednesdayHours() > 0}'>
                        <p th:text="${lineEntry.getDaysOfWeekHoursCombo().getWednesdayHours()}"></p>
                    </div>
                    <div th:unless='${lineEntry.getDaysOfWeekHoursCombo().getWednesdayHours() > 0}'>
                        <p></p>
                    </div>
                </td>

                <!--            THURSDAY COLUMN-->
                <td>
                    <div th:if='${lineEntry.getDaysOfWeekHoursCombo().getThursdayHours() > 0}'>
                        <p th:text="${lineEntry.getDaysOfWeekHoursCombo().getThursdayHours()}"></p>
                    </div>
                    <div th:unless='${lineEntry.getDaysOfWeekHoursCombo().getThursdayHours() > 0}'>
                        <p></p>
                    </div>
                </td>

                <!--            FRIDAY COLUMN-->
                <td>
                    <div th:if='${lineEntry.getDaysOfWeekHoursCombo().getFridayHours() > 0}'>
                        <p th:text="${lineEntry.getDaysOfWeekHoursCombo().getFridayHours()}"></p>
                    </div>
                    <div th:unless='${lineEntry.getDaysOfWeekHoursCombo().getFridayHours() > 0}'>
                        <p></p>
                    </div>
                </td>
                <!--            SATURDAY COLUMN-->
                <td>
                    <div th:if='${lineEntry.getDaysOfWeekHoursCombo().getSaturdayHours() > 0}'>
                        <p th:text="${lineEntry.getDaysOfWeekHoursCombo().getSaturdayHours()}"></p>
                    </div>
                    <div th:unless='${lineEntry.getDaysOfWeekHoursCombo().getSaturdayHours() > 0}'>
                        <p></p>
                    </div>
                </td>

                <td th:text="${lineEntry.getTotalHours()}">T</td>

                <!--            DELETE ENTRY COLUMN-->
                <td>
                   <a th:href="@{/employee/timesheet/editlineentry(lineEntryId=${lineEntry.getId()})}">edit</a>
                </td>
            </tr>
        </th:block>
        <!--total row at bottom of table-->
        <tr>
            <th>Total</th>
            <!--            DAY TOTALS ROW-->
            <!--            MONDAY TOTALS CELL -->
            <td>
                <div th:if='${mondayTotal > 0}'>
                    <p th:text="${mondayTotal}"></p>
                </div>
                <div th:unless='${mondayTotal > 0}'>
                    <p></p>
                </div>
            </td>
            <!--            TUESDAY TOTALS CELL -->
            <td>
                <div th:if='${tuesdayTotal > 0}'>
                    <p th:text="${tuesdayTotal}"></p>
                </div>
                <div th:unless='${tuesdayTotal > 0}'>
                    <p></p>
                </div>
            </td>
            <!--            WEDNESDAY TOTALS CELL -->
            <td>
                <div th:if='${wednesdayTotal > 0}'>
                    <p th:text="${wednesdayTotal}"></p>
                </div>
                <div th:unless='${wednesdayTotal > 0}'>
                    <p></p>
                </div>
            </td>
            <!--            THURSDAY TOTALS CELL -->
            <td>
                <div th:if='${thursdayTotal > 0}'>
                    <p th:text="${thursdayTotal}"></p>
                </div>
                <div th:unless='${thursdayTotal > 0}'>
                    <p></p>
                </div>
            </td>
            <!--            FRIDAY TOTALS CELL -->
            <td>
                <div th:if='${fridayTotal > 0}'>
                    <p th:text="${fridayTotal}"></p>
                </div>
                <div th:unless='${fridayTotal > 0}'>
                    <p></p>
                </div>
            </td>
            <!--            SATURDAY TOTALS CELL -->
            <td>
                <div th:if='${saturdayTotal > 0}'>
                    <p th:text="${saturdayTotal}"></p>
                </div>
                <div th:unless='${saturdayTotal > 0}'>
                    <p></p>
                </div>
            </td>

            <!--            TOTAL OF TOTALS CELL-->
            <td></td>

            <td></td>
        </tr>
    </table>

    <div class="error-msg" th:if="${mondayTotal>18 or tuesdayTotal>18 or wednesdayTotal>18 or thursdayTotal>18 or fridayTotal>18 or saturdayTotal>18}">
        <p>You cannot work more than 18 hours in a 24 hour time period, please correct your timesheet before submitting.</p>
    </div>

    <div th:if="${totalHoursForTheWeek}">
        <p th:text="${'Total Hours for the Week: '+totalHoursForTheWeek}">default total Hours</p>
    </div>
    <div class="line-entry-link" th:if="${totalHoursForTheWeek>0 and mondayTotal<18 and tuesdayTotal<18 and wednesdayTotal<18 and thursdayTotal<18 and fridayTotal<18 and saturdayTotal<18}">
        <form method="post" th:action="@{/employee/successSubmit}">
            <input type="hidden" name="currentTimesheetId" th:value="${currentTimesheet.getId()}">
            <input type="hidden" name="mondayTotal" th:value="${mondayTotal}">
            <input type="hidden" name="tuesdayTotal" th:value="${tuesdayTotal}">
            <input type="hidden" name="wednesdayTotal" th:value="${wednesdayTotal}">
            <input type="hidden" name="thursdayTotal" th:value="${thursdayTotal}">
            <input type="hidden" name="fridayTotal" th:value="${fridayTotal}">
            <input type="hidden" name="saturdayTotal" th:value="${saturdayTotal}">
            <input type="hidden" name="totalHours" th:value="${totalHoursForTheWeek}">
            <input type="hidden" name="successfulSubmit" th:value="${successfulSubmit}">
            <div>
                <button type="submit" name="submit" class="btn-style">SUBMIT</button>
            </div>
        </form>
    </div>
</div>





</body>
</html>