<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>

<p>timesheet trial - coming here from hitting new timesheet button on the homepage</p>
<div th:replace="fragments :: header-nav-login"></div>

<div>
    <ul>
        <li th:text="${today}">Tuesday, 02|05|2022</li>
        <li th:text="${'Timesheet Week of ' + startDate}">Timesheet Week of 2/4/2022</li>
        <li th:text="${'Due: '+ dueDate}">Due: 2/11/2022 5pm</li>
        <li th:text="${'PayDay: '+payDay}">PayDay: 2/15/2022</li>
    </ul>
</div>

<table>
    <form method="post" action="employee/timesheet">
        <tr>
            <th></th>
            <th></th>
            <th><select name="daysOfWeek"><option th:each="day : ${daysOfWeek}" th:value="${day}" th:text="${day}">default day of the week</option></select></th>
            <th></th>
        </tr>
        <tr>
            <td><select name="project"><option value="" disabled selected>Project</option><option th:each="project : ${projects}" th:value="${project}" th:text="${project.toString()}">default project</option></select></td>
            <td><select name="workType"><option value="" disabled selected>Work</option><option th:each="workType : ${workTypes}" th:value="${workType}" th:text="${workType.toString()}">default work type</option></select></td>
            <td><input type="number" max="24" placeholder="hours" name="hours"></td>
            <input type="hidden" name="employeeId" th:value="${employeeId}">
            <!--                following onclick="runFormValidation()" - does not work yet but is suppose to run the JavaScript form validation-->
            <td><input type="submit" onclick="runFormValidation()"></td>
        </tr>
    </form>

</table>




<table>
    <thead>
    <tr>
        <th></th>
        <th>M</th>
        <th>T</th>
        <th>W</th>
        <th>T</th>
        <th>F</th>
        <th>S</th>
        <th>Total</th>
        <th></th>
    </tr>
    </thead>

    <!--        <th:block th:each="lineEntry : ${currentTimesheet.getLineEntries}"-->
    <th:block th:each="lineEntry : ${logOfEntries}">
        <tr>
            <th th:text="${entry1Project+' - '+entry1WorkType}">default Project - workType</th>

            <!--            MONDAY COLUMN-->
            <td>
                <div th:if='${day.equals("MONDAY")}'>
                    <p th:text="${entry1Hours}"></p>
                </div>
                <div th:unless='${day.equals("MONDAY")}'>
                    <p></p>
                </div>
            </td>

<!--            &lt;!&ndash;            TUESDAY COLUMN&ndash;&gt;-->
<!--            <td>-->
<!--                <div th:if='${day.equals("Tuesday")}'>-->
<!--                    <p th:text="${entry1Hours}"></p>-->
<!--                </div>-->
<!--                <div th:unless='${day.equals("Tuesday")}'>-->
<!--                    <p></p>-->
<!--                </div>-->
<!--            </td>-->
<!--            &lt;!&ndash;            WEDNESDAY COLUMN&ndash;&gt;-->
<!--            <td>-->
<!--                <div th:if='${day.equals("Wednesday")}'>-->
<!--                    <p th:text="${entry1Hours}"></p>-->
<!--                </div>-->
<!--                <div th:unless='${day.equals("Wednesday")}'>-->
<!--                    <p></p>-->
<!--                </div>-->
<!--            </td>-->

<!--            &lt;!&ndash;            THURSDAY COLUMN&ndash;&gt;-->
<!--            <td>-->
<!--                <div th:if='${daysOfTheWeek.equals("Thursday")}'>-->
<!--                    <p th:text="${entry1Hours}"></p>-->
<!--                </div>-->
<!--                <div th:unless='${daysOfTheWeek.equals("Thursday")}'>-->
<!--                    <p></p>-->
<!--                </div>-->
<!--            </td>-->

<!--            &lt;!&ndash;            FRIDAY COLUMN&ndash;&gt;-->
<!--            <td>-->
<!--                <div th:if='${daysOfTheWeek.equals("Friday")}'>-->
<!--                    <p th:text="${entry1Hours}"></p>-->
<!--                </div>-->
<!--                <div th:unless='${daysOfTheWeek.equals("Friday")}'>-->
<!--                    <p></p>-->
<!--                </div>-->
<!--            </td>-->
<!--            &lt;!&ndash;            SATURDAY COLUMN&ndash;&gt;-->
<!--            <td>-->
<!--                <div th:if='${daysOfTheWeek.equals("Saturday")}'>-->
<!--                    <p th:text="${entry1Hours}"></p>-->
<!--                </div>-->
<!--                <div th:unless='${daysOfTheWeek.equals("Saturday")}'>-->
<!--                    <p></p>-->
<!--                </div>-->
<!--            </td>-->

            <td>T</td>
            <td>w</td>
            <td>T</td>
            <td>f</td>
            <td>s</td>
            <!--            TOTAL COLUMN-->
            <td>T</td>
            <td>edit icon</td>
        </tr>

    </th:block>

    <!--total row at bottom of table-->
    <tr>
        <th>Total</th>
        <td></td>
        <td>4</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>


</body>
</html>