<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/ ">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
    <!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>-->

    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>

    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link rel="stylesheet" th:href="@{/styles-dash.css}"/>
    <link rel="stylesheet" th:href="@{/styles-calendar.css}"/>
    <script th:src="@{/script.js}"></script>
    <script th:src="@{/script-metrics.js}"></script>
    <script th:src="@{/script-dash.js}"></script>
    <script th:src="@{/script-calendar.js}"></script>

</head>
<body>

<!--Header Fragment if not logged in-->
<div th:fragment="header-nav">
    <a href="/">
        <header>Restoration Company</header>
    </a>
</div>

<!--Header Fragment when employee logged in-->
<div th:fragment="header-nav-login">
    <div class="header-nav-login">
        <header>Restoration Company</header>
        <!--            <div class="drop-down">-->
        <!--                <button class="drop-down-btn">=</button>-->
        <nav>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <ol class="nav-bar-links">
                <li class="nav-link"><a href="/employee">My Homepage</a></li>
                <li class="nav-link"><a href="/employee/timesheetrecords">Timesheets</a></li>
                <li class="nav-link"><a href="/logout">Log Off</a></li>
            </ol>
        </nav>
        <!--            </div>-->
    </div>
</div>

<!--Header Fragment when supervisor logged in-->
<div th:fragment="header-nav-login-sup">
    <div class="header-nav-login">
        <a href="/supervisor">
            <header>Restoration Company</header>
        </a>

        <nav>
            <ol class="main-menu">
                <li class="nav-link"><a href="/supervisor">Dashboard</a></li>
                <li class="nav-link"><a href="/supervisor/manageprojects">Projects</a></li>
                <li class="nav-link" onmouseenter="displaySubMenu('employees')" onmouseleave="hideSubMenu('employees')">
                        <a href="/supervisor/manageemployees">Employees</a>
                </li>
                <li class="nav-link"><a href="/supervisor/manageshipments">Shipments</a></li>
                <li class="nav-link"><a href="/supervisor/metrics">Metrics</a></li>
                <li class="nav-link"><a href="/logout">Log Off</a></li>
            </ol>
        </nav>

    </div>
    <div class="subMenuDiv">
        <div> </div>
        <nav class="subMenus">
            <div> </div>
            <div> </div>
            <div> </div>
            <ol id="subMenu-dashboard" class="subMenu" onmouseenter="displaySubMenu('dashboard')" onmouseleave="hideSubMenu('dashboard')">
            </ol>
            <ol id="subMenu-projects" class="subMenu" onmouseenter="displaySubMenu('projects')" onmouseleave="hideSubMenu('projects')">
                <li><a href="/supervisor/manageprojects">View All</a></li>
                <li><a href="/supervisor/manageprojects/newproject">Add a Project</a></li>
                <div></div>
            </ol>
            <ol id="subMenu-employees" class="subMenu" onmouseenter="displaySubMenu('employees')" onmouseleave="hideSubMenu('employees')">
                <li><a href="/supervisor/manageemployees">View All</a></li>
                <li><a href="/supervisor/manageemployees/newemployee">Add an Employee</a></li>
                <li><a href="/supervisor/manageemployees/retireemployee">Retire an Employee</a></li>
                <li><a href="/supervisor/manageemployees/timesheets">Timesheets</a></li>
            </ol>
            <ol id="subMenu-shipments" class="subMenu" onmouseenter="displaySubMenu('shipments')" onmouseleave="hideSubMenu('shipments')">
            </ol>
            <ol id="subMenu-metrics" class="subMenu" onmouseenter="displaySubMenu('metrics')" onmouseleave="hideSubMenu('metrics')">
            </ol>
            <ol id="subMenu-logoff" class="subMenu" onmouseenter="displaySubMenu('logoff')" onmouseleave="hideSubMenu('logoff')">
            </ol>
        </nav>

    </div>


</div>


</body>
</html>