<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Restoration Company</title>-->
<!--</head>-->

<body>
<div th:replace="fragments :: header-nav"></div>
<div  class="log-in">
    <form>
        <div>
            <label>Username: <input type="text"></label>
        </div>
        <div>
            <label>Password: <input type="password"></label>
        </div>
        <div>
            <button>Log In</button>
        </div>
    </form>
    <button th:href="register"><a href="/register">Register</a></button>
</div>



</body>
</html>