<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>


<body>
<div th:replace="fragments :: header-nav"></div>
<div  class="log-in">
    <form method="post">
        <div>
            <label th:for="username">Username: <input type="text" autocomplete="username" th:field="${loginFormDTO.username}"></label>
            <p class="error" th:errors="${loginFormDTO.username}"></p>
        </div>
        <div>
            <label>Password: <input type="password" autocomplete="current-password" th:field="${loginFormDTO.password}"></label>
            <p class="error" th:errors="${loginFormDTO.password}"></p>
        </div>
        <div>
            <button>Log In</button>
        </div>
    </form>
    <p>New Employee?  Register a username: </p>
    <button th:href="register"><a href="/register">Register</a></button>
</div>



</body>
</html>